html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 400px;
    background-color: black;
    color: white;
}

.btn-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 20px 5px;
}

.calc-btn {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 2rem;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-btn:hover{
    background-color: #ebebeb;
}

.calc-btn:active{
    background-color: #bbbcbe;
}
.double {
    flex-basis: 49.7%;
}
.triple {
    flex-basis: 74.8%;
}
.calc-btn:last-child {
    background-color: #df974c;
    color: white;
}
.calc-btn:last-child:hover {
    background-color: #8fb07e;
}